bin/Debug/netcoreapp3.0/appsettings.Development.json
bin/Debug/netcoreapp3.0/appsettings.json
bin/Debug/netcoreapp3.0/CasaQuery.deps.json
bin/Debug/netcoreapp3.0/CasaQuery.dll
bin/Debug/netcoreapp3.0/CasaQuery.exe
bin/Debug/netcoreapp3.0/CasaQuery.pdb
bin/Debug/netcoreapp3.0/CasaQuery.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/CasaQuery.runtimeconfig.json
bin/Debug/netcoreapp3.0/GraphiQL.dll
bin/Debug/netcoreapp3.0/GraphQL-Parser.dll
bin/Debug/netcoreapp3.0/GraphQL.dll
bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.JsonPatch.dll
bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.dll
bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/netcoreapp3.0/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/netcoreapp3.0/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.0/Newtonsoft.Json.Bson.dll
bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.0/System.Reactive.Core.dll
bin/Debug/netcoreapp3.0/System.Reactive.Interfaces.dll
bin/Debug/netcoreapp3.0/System.Reactive.Linq.dll
bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.0/Properties/launchSettings.json
bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
obj/CasaQuery.csproj.nuget.cache
obj/CasaQuery.csproj.nuget.dgspec.json
obj/CasaQuery.csproj.nuget.g.props
obj/CasaQuery.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.0/CasaQuery.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/CasaQuery.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/CasaQuery.assets.cache
obj/Debug/netcoreapp3.0/CasaQuery.csproj.CopyComplete
obj/Debug/netcoreapp3.0/CasaQuery.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/CasaQuery.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/CasaQuery.dll
obj/Debug/netcoreapp3.0/CasaQuery.exe
obj/Debug/netcoreapp3.0/CasaQuery.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.0/CasaQuery.pdb
obj/Debug/netcoreapp3.0/CasaQuery.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.0/project.razor.json
obj/Debug/netcoreapp3.0/staticwebassets/CasaQuery.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.0/staticwebassets/CasaQuery.StaticWebAssets.xml
